
:root {
  --color-accent: #5252c3;
  --color-text: #323232;
  --width-slim: 40rem;
}

body {
  margin: 0 auto;
  max-width: 100%;
  color: #000;
  font-family: "Helvetica";
  -webkit-transition: max-width 0.7s ease;
  -moz-transition: max-width 0.7s ease;
  -ms-transition: max-width 0.7s ease;
  transition: max-width 0.7s ease;
  padding: 0 1rem;
}

/* For small displays, let's not play games */

@media (max-width: 1200px) {
  body {
    max-width: var(--width-slim);
    color: var(--color-text);
  }

  a {
    display: inline-block;
    color: var(--color-accent);
  }
}

/* Level 1, Enter the dungeon! */

.level1 {
  max-width: var(--width-slim);
  color: var(--color-text);
}

.level1 a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-accent);
}

.level1 p {
  line-height: 1.2rem;
}

.level1 a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  position: relative;
  top: -1px;
  background-color: var(--color-accent);
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.level1 a:hover:after,
.level1 a:focus:after {
  width: 100%;
}
